*{
    font-family: Arial;
}

body{
    margin: 0;
    padding:0;
    
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
} 

.container{
display: flex;
justify-content: space-between;
width: 990px;

   

}
.logo{
   
    display: flex;
    align-items: center;


}
.menu{
    
    display: flex;
   align-items: center;
   
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding:0;
    

}
nav ul{
    display: flex;
   
   
}



nav a{
   display: block;
   padding: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: #727272;
   

}
nav .active a,
nav a:hover{
    background-color:#40b1e7;
    color: #fff;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../img/baner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;

}

.column{

flex-direction: column;
}
.banner_readline{
    flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
    

}
.banner_readline h1{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 1px 0 #555;
    max-width: 350px;
    
   
}

.banner_readline h2{
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 #555;
    
    color: #fff;
    max-width: 350px;
    font-size: 20px;
    margin-top: 30px;
}
.banner_options{
    
    display: flex;
    height:210px;
    
}

.banner1,
.banner2,
.banner3{
    flex: 1;
    padding: 20px;
    color: #fff;

}

.banner1{
    background-color: #40b1e7;
}

.banner2{
    background-color: #0381d0;
}
.banner3{
    background-color: #3253a5;
}
.banner_title{
    font-size: 21px;
    
}
.banner_options a{
    display: inline-block;
    border: solid 1px #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
   
    
}
.div1,
.div2,
.div3{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px #ccc;
    margin: 10px;
}


#geral{
    display: flex;
    justify-content: center;
   
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
   
    color: #000;
    font-size: 21px;
    font-weight: bold;

}
.widget_title_bar{
    width: 30px;
    height:2px;
    background-color: #0381d0;
    margin-top:10px;
   
}





.deparment1,
.deparment2,
.deparment3,
.deparment4,
.deparment5,
.deparment6{
    width: 150px;
    height: 150px;
    background-color: #0381d0;
    display: inline-block;
    margin-top: 5px;
}
.text{
    margin-top: 10px;

}

.contato{
    margin-top: 20px;
   
    line-height: 30px;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    justify-content: center;
    align-items: center;
    
}
    


.contato img{
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
article a{
    text-decoration:none;

}
article {
    flex: 1;
    min-width: 300px;
    margin-right:20px;
}
article .news_data{
    display: flex;
    
    
}

article .news_posted_at{
    background-color: #0a1f5c;;
    color:#fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
  
 

}

article .news_comments{
    background-color: royalblue;
    color:#fff;
    font-size: 13px;
    padding: 10px;
    

}
article .thumbnail{
    margin-top: 30px;
}

article .thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom:25px;
    color: #000;
    font-size: 23px;
}

article .news_resume{
    color:#5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}



.flex{
    display: flex;
    flex-wrap:wrap;
}
footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
   
    

}
.fm_1,
.fm_2,
.fm_3{
    flex:1;
   color: #fff;
   
   
   
 
}

.fm_1{
    background-color:#40b1e7;

}
.fm_2{
    background-color:#0381d0;

}
.fm_3{
    background-color:#3253a5;
}


.footer_area{
    display: flex;
  



}

.flexColumn{
    flex-direction: column;
}


   

.footer_areaitem{
    flex: 1;
    color: #fff;
}

footer .widget_title_text{
    color: #fff;
    
    

}

.footer_copy{
    border-top:solid 1px #2c2c2c;
    height:40px;
    line-height:40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.footer_menu a{
    display: block;
    text-decoration:none;
    padding:20px;
    color: #fff;
  
}



.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
} 
.mm_line{
    height:3px;
    background-color:#3253a5;
}

@media (max-width:600px){
    .banner_readline{
        padding: 20px;
    }
    
    .banner_readline h1{
        font-size: 50px;
    }
    
    .banner_readline h2{
        font-size: 17px;
    }
    

    .banner_options{
        height: auto;
        flex-direction: column;
    }
    
    .container{
        flex-direction: column;
    }
    #geral section{
        padding: 20px;
    }
    #geral aside{
        padding: 20px;
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction:column;
        padding: 20px;
    }
    .footer_copy{
        padding-left:20px;
    }
    header .container{
        flex-direction:row;

        
    }
    nav ul{
        flex-direction:column;
        display: none;
        position:absolute;
        left: 0;
        width:100%;
        background-color:#fff

    }
    header{
        height:auto;
    }
    .logo{
        padding-left:20px;
    }
    .menuMobile{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
}